
body{
    background-image: url('../images/bgimg3.jpeg');
    background-size: cover;
}

  /* Navigation Bar */

  /* button:hover{
    background-color: white !important;
  }
   */
   /* button{
    background-color: ;
    border-color: ;
    color: ;
    (color for text color)
   } */


  /* Weather Section */

#weatherDisplay{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 90px;
}
#currentDay{
    box-shadow: 5px 3px 5px #B3B6BD;
    margin-bottom: 2px;
    
}
#weekForecast{
    display: none;
    /* display: flex; */
    flex-direction: row;
    box-shadow: 5px 3px 5px #B3B6BD;
}
.card{
    color: white;
    /* min-width: 450px;
    min-height: 150px;
    max-width: 650px;
    max-height: 150px; */
    height: 150px;
    width: 650px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    background-color: #5C95FF !important; 
}
    /* tech Section */

    /* news */
#tech{
    display: none;
    padding-top: 90px;
    justify-content: space-around;
}
#techNews{
    display: flex ;
    flex-direction: column;
   
}
#newsbox{
    min-width: 450px;
    min-height: 150px;
    max-width: 350px;
    max-height: 150px;
    float: left;
    box-shadow: 5px 3px 5px #B3B6BD;
    padding: 10px;
    margin: 3px;
    background-color: #5C95FF !important;  
}
/* articles */
#techArticles{
  display: flex ;
  flex-direction: column;
}
#article{
    min-width: 450px;
    min-height: 150px;
    max-width: 350px;
    max-height: 150px;
    padding: 10px;
    margin: 3px;
    box-shadow: 5px 3px 5px #B3B6BD;
    background-color: #5C95FF !important;
}
   /* Footer */
footer{
    bottom: 1150px;
    padding-top: 15px;
    text-align: center;
    border-top-color: #B3B6BD;
    border-top-style:groove;
    margin-left: 170px;
    margin-right: 170px;
    margin-top: 760px;
    border-top-width: .25px ;
}
#spaceV{
    padding-top: 30px;
}
#signUp{
    margin-left: 50px;
}
#login{
    margin-left: 80px;
}
#navColor{
    background-color: black !important;
    color: white !important;
}
#textColor{
    color: white;
}

    input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('searchicon.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;
      }
      
      input[type=text]:focus {
        width: 100%;
      }
    