
form{
    float: inline-end;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 2.5px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: large;
  }
  
  li a:hover {
    background-color: #111;
  }
  /* button:hover{
    background-color: white !important;
  }
   */
   /* button{
    background-color: ;
    border-color: ;
    color: ;
    (color for text color)
   } */
   .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  #button2 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

#weatherDisplay{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 90px;

}
#currentDay{
    box-shadow: 5px 3px 5px #B3B6BD;
    margin-bottom: 2px;
}
#weekForecast{
    display: flex;
    flex-direction: row;
    box-shadow: 5px 3px 5px #B3B6BD;

}
.card{
    color: white;
    min-width: 450px;
    min-height: 150px;
    max-width: 650px;
    max-height: 150px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    background-color: #5C95FF !important;
    
    
}

#tech{
    display: flex;
    flex-direction: row;
}
#techNews{
    min-width: 450px;
    min-height: 150px;
    max-width: 650px;
    max-height: 150px;
    background-color: #5C95FF !important;
}
footer{
    margin-top: 195px;
    padding-top: 15px;
    text-align: center;
    border-top-color: #B3B6BD;
    border-top-style:groove;
    margin-left: 170px;
    margin-right: 170px;
    border-top-width: .75px ;

}

